.landing{
    height: 100%;
    width: 100%;

}
.mask{
    width: 100%;
    height: 100vh;
}
.background-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.landing .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.landing .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.landing .content p{
    font-size: 1.4rem;
    font-weight:200 ;
    padding: 0.6rem 0 1.5rem;
    text-transform: uppercase;
}
.btnn{
    padding: 14px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background:transparent ;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-weight:600;
    cursor: pointer;
  }
  .cn{
    padding: 14px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background:goldenrod ;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-weight:600;
    cursor: pointer;
  }
@media screen and  (max-width: 640px){
    .landing .content h1{
        font-size: 3rem;
       
    }
    .landing .content p{
        font-size: 1.4rem;
    }    
}