.landing30{
    height: 100%;
    width: 100%;

}
.masky{
    width: 100%;
    height: 100vh;
}
.background-imgi{
    
    /* background-size: cover; */
    background-position: center;
    /* object-fit: cover; */
    height:200px ;
    width: 200px;
    margin-left: 600px;
    margin-top: 400px;
}